Repository luminastudy/blocks-graph: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, cspell lint --no-must-find-files

fix(package): update version to 0.1.6
  package.json
Due: prettier --write, cspell lint --no-must-find-files

fix(layout): distribute sibling children symmetrically around shared parent center
  .loki/reference/chrome_laptop_Components_BlocksGraph_Combinatorics_Root_Auto_Hide.png
  .loki/reference/chrome_laptop_Components_BlocksGraph_Custom_Sizing_And_Spacing.png
  .loki/reference/chrome_laptop_Components_BlocksGraph_Grid_Layout_Multiple_Levels.png
  .loki/reference/chrome_laptop_Components_BlocksGraph_Grid_Layout_Wrapping.png
  src/core/calculate-parent-centered-positions.ts
  src/core/graph-engine.test.ts
Due: eslint --fix, prettier --write, cspell lint --no-must-find-files

feat(stories): add comprehensive stories for graph orientation and grid layout features
  .loki/reference/chrome_laptop_Features_Graph_Orientation_All_Orientations_Comparison.png
  .loki/reference/chrome_laptop_Features_Graph_Orientation_BTT_Bottom_to_Top.png
  .loki/reference/chrome_laptop_Features_Graph_Orientation_Dynamic_Switching.png
  .loki/reference/chrome_laptop_Features_Graph_Orientation_Hebrew_Curriculum_RTL.png
  .loki/reference/chrome_laptop_Features_Graph_Orientation_LTR_Left_to_Right.png
  .loki/reference/chrome_laptop_Features_Graph_Orientation_Process_Flow_Timeline.png
  .loki/reference/chrome_laptop_Features_Graph_Orientation_RTL_Right_to_Left.png
  .loki/reference/chrome_laptop_Features_Graph_Orientation_Skill_Tree_Growth.png
  .loki/reference/chrome_laptop_Features_Graph_Orientation_Spacing_Behavior.png
  .loki/reference/chrome_laptop_Features_Graph_Orientation_TTB_Top_to_Bottom.png
  .loki/reference/chrome_laptop_Features_Graph_Orientation_Vertical_vs_Horizontal.png
  .loki/reference/chrome_laptop_Features_Grid_Layout_All_Orientations_Grid.png
  .loki/reference/chrome_laptop_Features_Grid_Layout_Basic_Wrapping.png
  .loki/reference/chrome_laptop_Features_Grid_Layout_Bottom_To_Top_Grid.png
  .loki/reference/chrome_laptop_Features_Grid_Layout_Course_Catalog.png
  .loki/reference/chrome_laptop_Features_Grid_Layout_Deep_Hierarchy_Grid.png
  .loki/reference/chrome_laptop_Features_Grid_Layout_Exact_Fit.png
  .loki/reference/chrome_laptop_Features_Grid_Layout_Horizontal_LTR_Grid.png
  .loki/reference/chrome_laptop_Features_Grid_Layout_Horizontal_RTL_Grid.png
  .loki/reference/chrome_laptop_Features_Grid_Layout_Large_Node_Count.png
  .loki/reference/chrome_laptop_Features_Grid_Layout_Multiple_Levels_Varied.png
  .loki/reference/chrome_laptop_Features_Grid_Layout_Narrow_Grid.png
  .loki/reference/chrome_laptop_Features_Grid_Layout_No_Wrapping.png
  .loki/reference/chrome_laptop_Features_Grid_Layout_One_Extra_Node.png
  .loki/reference/chrome_laptop_Features_Grid_Layout_Project_Milestones.png
  .loki/reference/chrome_laptop_Features_Grid_Layout_Single_Column.png
  .loki/reference/chrome_laptop_Features_Grid_Layout_Usage_Examples.png
  .loki/reference/chrome_laptop_Features_Grid_Layout_Wrap_Limit_Comparison.png
  cspell.json
  src/components/graph-orientation.stories.ts
  src/components/grid-layout.stories.ts
Due: eslint --fix, prettier --write, cspell lint --no-must-find-files

chore(loki): add transitive reduction visual regression references
  .loki/reference/chrome_laptop_Features_Transitive_Reduction_Before_After_Comparison.png
  .loki/reference/chrome_laptop_Features_Transitive_Reduction_CS_Curriculum.png
  .loki/reference/chrome_laptop_Features_Transitive_Reduction_Crossing_Chains.png
  .loki/reference/chrome_laptop_Features_Transitive_Reduction_Diamond_Pattern.png
  .loki/reference/chrome_laptop_Features_Transitive_Reduction_Double_Diamond.png
  .loki/reference/chrome_laptop_Features_Transitive_Reduction_Fan_In_Pattern.png
  .loki/reference/chrome_laptop_Features_Transitive_Reduction_Four_Node_Chain_A_B_C_D.png
  .loki/reference/chrome_laptop_Features_Transitive_Reduction_Independent_Chains.png
  .loki/reference/chrome_laptop_Features_Transitive_Reduction_Long_Chain_6_Nodes.png
  .loki/reference/chrome_laptop_Features_Transitive_Reduction_Math_Curriculum.png
  .loki/reference/chrome_laptop_Features_Transitive_Reduction_Mixed_Complexity.png
  .loki/reference/chrome_laptop_Features_Transitive_Reduction_No_Transitive_Edges.png
  .loki/reference/chrome_laptop_Features_Transitive_Reduction_Parent_Edges_Preserved.png
  .loki/reference/chrome_laptop_Features_Transitive_Reduction_Simple_Chain_A_B_C.png
Due: none

feat(adaptors): add v0.2 schema adaptor with external reference placeholder nodes
  cspell.json
  knip.json
  src/adaptors/v0.2/adaptor.test.ts
  src/adaptors/v0.2/adaptor.ts
  src/adaptors/v0.2/external-platform.ts
  src/adaptors/v0.2/get-external-reference-label.ts
  src/adaptors/v0.2/get-external-reference-url.ts
  src/adaptors/v0.2/get-validation-errors.ts
  src/adaptors/v0.2/instance.ts
  src/adaptors/v0.2/is-external-reference.ts
  src/adaptors/v0.2/is-local-uuid.ts
  src/adaptors/v0.2/parse-external-reference.ts
  src/adaptors/v0.2/parsed-external-reference.ts
  src/adaptors/v0.2/types.ts
  src/adaptors/v0.2/validator-setup.ts
  src/adaptors/v0.2/validators.ts
  src/index.ts
Due: eslint --fix, prettier --write, cspell lint --no-must-find-files

fix(lint): add className attributes to satisfy jsx-classname-required rule
  examples/react/src/App.tsx
  examples/react/src/AppWithWrapper.tsx
  src/wrappers/react/BlocksGraphReact.tsx
Due: eslint --fix, prettier --write, cspell lint --no-must-find-files

fix(lint): disable custom/jsx-classname-required rule for example files
  eslint.config.js
Due: eslint --fix, prettier --write, cspell lint --no-must-find-files

feat(stories): add i18n stories demonstrating bilingual Hebrew/English support
  src/stories/i18n/i18n.stories.ts
Due: eslint --fix, prettier --write, cspell lint --no-must-find-files

chore(cspell): add Hebrew words from i18n story files
  cspell.json
Due: prettier --write, cspell lint --no-must-find-files

chore(cspell): add Hebrew dictionary instead of manual word list
  cspell.json
  package.json
  pnpm-lock.yaml
  src/components/external-blocks.stories.ts
Due: eslint --fix, prettier --write, cspell lint --no-must-find-files

chore(package): bump version to 0.1.7
  package.json
Due: prettier --write, cspell lint --no-must-find-files

fix(ci): fix Angular build command in deploy-examples workflow
  .github/workflows/deploy-examples.yml
Due: none

fix(examples): use raw web component in Angular example instead of wrapper
  eslint.config.js
  examples/angular/package.json
  examples/angular/src/app/app.component.html
  examples/angular/src/app/app.component.ts
Due: eslint --fix, prettier --write, cspell lint --no-must-find-files

chore: update pnpm-lock.yaml for @angular/forms dependency
  pnpm-lock.yaml
Due: none

fix(eslint): reduce max-lines rule to 250 for library code
  eslint.config.js
Due: eslint --fix, prettier --write, cspell lint --no-must-find-files

refactor(lint): extract helper functions to fix max-lines ESLint errors
  src/components/blocks-graph.ts
  src/components/create-block-selected-event.ts
  src/components/find-duplicate-ids.ts
  src/components/parse-max-nodes-per-level.ts
  src/core/build-sibling-group-infos.ts
  src/core/calculate-parent-centered-positions.ts
  src/core/calculate-parent-centroid.ts
  src/core/calculate-target-positions.ts
  src/core/calculate-view-box.ts
  src/core/distribute-siblings-around-centroid.ts
  src/core/get-parent-ids.ts
  src/core/graph-engine.ts
  src/core/group-blocks-by-parents.ts
  src/core/is-descendant-of.ts
  src/core/renderer.ts
  src/core/resolve-horizontal-overlaps.ts
  src/core/resolve-vertical-overlaps.ts
  src/core/sibling-group.ts
Due: eslint --fix, prettier --write, cspell lint --no-must-find-files

test(visual): update Loki reference snapshots
  .loki/reference/chrome_laptop_Components_BlocksGraph_Custom_Sizing_And_Spacing.png
  .loki/reference/chrome_laptop_Components_BlocksGraph_Grid_Layout_Wrapping.png
  .loki/reference/chrome_laptop_Features_External_Blocks_All_External_Blocks.png
  .loki/reference/chrome_laptop_Features_External_Blocks_External_Block_Event_Handling.png
  .loki/reference/chrome_laptop_Features_External_Blocks_External_Resource_Links.png
  .loki/reference/chrome_laptop_Features_External_Blocks_Mixed_Internal_And_External.png
  .loki/reference/chrome_laptop_i18n_Language_Support_Dynamic_Language_Switching.png
  .loki/reference/chrome_laptop_i18n_Language_Support_English.png
  .loki/reference/chrome_laptop_i18n_Language_Support_Hebrew.png
  .loki/reference/chrome_laptop_i18n_Language_Support_Hebrew_All_Orientations.png
  .loki/reference/chrome_laptop_i18n_Language_Support_Hebrew_With_RTL_Orientation.png
  .loki/reference/chrome_laptop_i18n_Language_Support_Long_Text_Wrapping.png
  .loki/reference/chrome_laptop_i18n_Language_Support_Short_Titles.png
  .loki/reference/chrome_laptop_i18n_Language_Support_Side_By_Side_Comparison.png
Due: none

fix(dependencies): update eslint-config-agent to version 1.8.8
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --write, cspell lint --no-must-find-files

refactor(tests): rename .test.ts to .spec.ts and disable require-spec-file rule
  eslint.config.js
  src/adaptors/v0.1/adaptor.spec.ts
  src/adaptors/v0.2/adaptor.spec.ts
  src/components/blocks-graph-auto-detection.spec.ts
  src/components/blocks-graph-navigation.spec.ts
  src/core/graph-engine.spec.ts
  src/core/graph-layout-config.spec.ts
  src/core/horizontal-relationships.spec.ts
  src/core/text-wrapper.spec.ts
  src/core/transitive-reduction.spec.ts
  src/types/edge-style.spec.ts
  src/types/is-block.spec.ts
  src/types/orientation.spec.ts
  src/viewport/interaction-gesture-handler.spec.ts
  src/viewport/viewport-manager.spec.ts
  src/wrappers/react/BlocksGraphReact.spec.tsx
Due: eslint --fix, prettier --write, cspell lint --no-must-find-files

fix(deps): add eslint-plugin-ddd as explicit dependency
  knip.json
  package.json
  pnpm-lock.yaml
Due: prettier --write, cspell lint --no-must-find-files

fix(deps): remove local eslint-plugin-ddd override
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

refactor(claude-config): update agents and commands with lint policy and formatting fixes
  .claude/agents/lint-fixer.md
  .claude/commands/tupe/lint.md
  .claude/commands/tupe/package-setup.md
Due: prettier --write, cspell lint --no-must-find-files

feat(renderer): add external block icon indicator for GitHub/GitLab references
  cspell.json
  src/core/block-text-result.ts
  src/core/create-block-text.spec.ts
  src/core/create-block-text.ts
  src/core/create-external-icon.spec.ts
  src/core/create-external-icon.ts
  src/core/renderer-config.ts
  src/core/renderer.spec.ts
  src/core/renderer.ts
  src/core/text-style.ts
Due: eslint --fix, prettier --write, cspell lint --no-must-find-files

fix(renderer): add missing dependency files for external icon feature
  src/core/calculate-connection-points.spec.ts
  src/core/calculate-connection-points.ts
  src/core/create-block-rect.spec.ts
  src/core/create-block-rect.ts
  src/types/block-style.ts
Due: eslint --fix, prettier --write, cspell lint --no-must-find-files

fix(renderer): add missing connection-points type file
  src/types/connection-points.ts
Due: eslint --fix, prettier --write, cspell lint --no-must-find-files

docs(examples): add external blocks demo showcasing platform icons
  examples/html/external-blocks.html
  examples/html/index.html
  examples/index.html
Due: none

feat(blocks-graph): add v0.2 schema support to loadFromJson
  src/components/blocks-graph.ts
Due: eslint --fix, prettier --write, cspell lint --no-must-find-files

refactor(blocks-graph): add missing helper modules
  src/components/detect-and-convert-blocks.spec.ts
  src/components/detect-and-convert-blocks.ts
  src/components/handle-attribute-change.spec.ts
  src/components/handle-attribute-change.ts
  src/components/handle-block-navigation.spec.ts
  src/components/handle-block-navigation.ts
  src/core/categorize-blocks.spec.ts
  src/core/categorize-blocks.ts
  src/types/attribute-change-result.ts
  src/types/categorized-blocks.ts
  src/types/navigation-result.ts
Due: eslint --fix, prettier --write, cspell lint --no-must-find-files

fix(examples): use proper UUID format for v0.2 schema validation
  examples/html/external-blocks.html
Due: none

Path conditions:
  eslint --fix: any of: *.{ts,tsx,js,jsx,mjs}
  prettier --write: (any of: *.{ts,tsx,js,jsx,mjs}) or (any of: *.{json,md})
  cspell lint --no-must-find-files: any of: *.{ts,tsx,js,jsx,mjs,md,json}
