Repository luminastudy/blocks-graph: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, cspell lint --no-must-find-files

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx,mjs}": ["eslint --fix", "prettier --write"],
  "*.{json,md}": ["prettier --write"],
  "*.{ts,tsx,js,jsx,mjs,md,json}": ["cspell lint --no-must-find-files"]
}

chore(package-setup): finalize configuration with CI/CD improvements and documentation
  .github/workflows/ci.yml
  .github/workflows/publish.yml
  CONTRIBUTING.md
  REACT-WRAPPER.md
  ULTRATHINK-ANALYSIS.md
  cspell.json
  eslint.config.js
  src/wrappers/react/README.md
Due: eslint --fix, prettier --write, cspell lint --no-must-find-files

fix(react-wrapper): fix className prop and improve configuration
  .github/workflows/ci.yml
  .github/workflows/publish.yml
  src/wrappers/react/BlocksGraphReact.tsx
  tsconfig.json
Due: eslint --fix, prettier --write, cspell lint --no-must-find-files

chore(ci): enhance package setup with automated npm publishing
  .github/workflows/ci.yml
  eslint.config.js
  package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write, cspell lint --no-must-find-files

fix(package): correct package name formatting
  package.json
Due: prettier --write, cspell lint --no-must-find-files

feat(ci): publish based on npm version existence instead of git tags
  .github/workflows/publish.yml
Due: none

fix(ci): remove provenance flag for private repository
  .github/workflows/publish.yml
Due: none

chore(config): improve package configuration and validation
  .github/workflows/ci.yml
  CONTRIBUTING.md
  eslint.config.js
Due: eslint --fix, prettier --write, cspell lint --no-must-find-files

feat(examples): add GitHub Pages deployment with automated CI/CD
  .github/workflows/deploy-examples.yml
  GITHUB-PAGES-SETUP.md
  README.md
  examples/index.html
  examples/react/vite.config.ts
Due: eslint --fix, prettier --write, cspell lint --no-must-find-files

fix(examples): add TypeScript declarations for blocks-graph custom element
  examples/react/src/vite-env.d.ts
Due: eslint --fix, prettier --write, cspell lint --no-must-find-files

fix(examples): correct library import path for GitHub Pages
  PUBLISHING.md
  README.md
  examples/html/index.html
  examples/index.html
  package.json
  src/components/blocks-graph.ts
  src/core/default-renderer-config.ts
  src/core/renderer-config.ts
  src/core/renderer.ts
  src/index.ts
  src/wrappers/react/BlocksGraphReact.tsx
  src/wrappers/react/index.ts
Due: eslint --fix, prettier --write, cspell lint --no-must-find-files

fix(types): add missing edge-style TypeScript files
  src/types/edge-line-style-to-dash-array.ts
  src/types/edge-style.test.ts
  src/types/edge-style.ts
Due: eslint --fix, prettier --write, cspell lint --no-must-find-files

fix(types): add type assertions for EdgeLineStyle narrowing
  src/components/blocks-graph.ts
Due: eslint --fix, prettier --write, cspell lint --no-must-find-files

fix(types): add missing is-valid-edge-line-style.ts file
  src/types/is-valid-edge-line-style.ts
Due: eslint --fix, prettier --write, cspell lint --no-must-find-files

feat(storybook): enhance stories with edge line style controls
  src/components/blocks-graph.stories.ts
Due: eslint --fix, prettier --write, cspell lint --no-must-find-files

feat(navigation)!: implement drill-down navigation with auto-skip single root
  README.md
  cspell.json
  eslint.config.js
  src/components/blocks-graph.stories.ts
  src/components/blocks-graph.ts
  src/core/default-renderer-config.ts
  src/core/graph-engine.test.ts
  src/core/graph-engine.ts
  src/core/renderer-config.ts
  src/core/renderer.ts
  src/wrappers/react/BlocksGraphReact.tsx
  tsconfig.json
Due: eslint --fix, prettier --write, cspell lint --no-must-find-files

feat(navigation): leaf nodes send callback without changing visualization
  src/components/blocks-graph.ts
Due: eslint --fix, prettier --write, cspell lint --no-must-find-files

feat(wrappers): add Angular and Vue framework wrappers with examples
  .github/workflows/deploy-examples.yml
  .gitignore
  build.mjs
  examples/angular/.gitignore
  examples/angular/README.md
  examples/angular/angular.json
  examples/angular/package.json
  examples/angular/src/app/app.component.css
  examples/angular/src/app/app.component.html
  examples/angular/src/app/app.component.ts
  examples/angular/src/index.html
  examples/angular/src/main.ts
  examples/angular/src/styles.css
  examples/angular/tsconfig.app.json
  examples/angular/tsconfig.json
  examples/index.html
  examples/vue/.gitignore
  examples/vue/README.md
  examples/vue/index.html
  examples/vue/package.json
  examples/vue/src/App.vue
  examples/vue/src/main.ts
  examples/vue/src/style.css
  examples/vue/tsconfig.json
  examples/vue/vite.config.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
  src/wrappers/angular/block-selected-event.ts
  src/wrappers/angular/blocks-graph.component.ts
  src/wrappers/angular/blocks-rendered-event.ts
  src/wrappers/angular/index.ts
  src/wrappers/vue/BlocksGraphVue.ts
  src/wrappers/vue/block-selected-event.ts
  src/wrappers/vue/blocks-rendered-event.ts
  src/wrappers/vue/index.ts
Due: eslint --fix, prettier --write, cspell lint --no-must-find-files

feat(claude-config): add lint-fixer and package-maintainer agents, enhance commands
  .claude/agents/lint-fixer.md
  .claude/agents/package-maintainer.md
  .claude/commands/tupe/lint.md
  .claude/commands/tupe/package-setup.md
  .claude/commands/tupe/revert.md
Due: prettier --write, cspell lint --no-must-find-files

fix(examples): correct package name in React wrapper example
  examples/react/src/AppWithWrapper.tsx
Due: eslint --fix, prettier --write, cspell lint --no-must-find-files

feat(testing): add Loki visual regression testing with CI/CD integration
  .github/workflows/ci.yml
  .gitignore
  .loki/.gitignore
  .loki/README.md
  .loki/reference/chrome_laptop_Components_BlocksGraph_All_Orientations.png
  .loki/reference/chrome_laptop_Components_BlocksGraph_Combinatorics_Root_Auto_Hide.png
  .loki/reference/chrome_laptop_Components_BlocksGraph_Default.png
  .loki/reference/chrome_laptop_Components_BlocksGraph_Edge_Line_Styles.png
  README.md
  VISUAL-TESTING.md
  package.json
  pnpm-lock.yaml
Due: prettier --write, cspell lint --no-must-find-files

fix(navigation): keep single root hidden when viewing descendants
  src/core/graph-engine.test.ts
  src/core/graph-engine.ts
Due: eslint --fix, prettier --write, cspell lint --no-must-find-files

fix(ci): serve Storybook staticfiles for Loki visual tests
  .github/workflows/ci.yml
Due: none

fix(ci): add retry logic for Storybook server startup
  .github/workflows/ci.yml
Due: none

docs(claude-config): enhance tupe commands and agent configurations
  .claude/commands/tupe/commit-push.md
  .claude/commands/tupe/package-setup.md
  cspell.json
  package.json
Due: prettier --write, cspell lint --no-must-find-files

fix(lint): resolve no-optional-chaining in App.tsx
  examples/react/src/App.tsx
Due: eslint --fix, prettier --write, cspell lint --no-must-find-files

fix(lint): resolve no-optional-chaining in graph-engine.ts
  src/core/graph-engine.ts
Due: eslint --fix, prettier --write, cspell lint --no-must-find-files

fix(lint): resolve no-optional-chaining in BlocksGraphReact.test.tsx
  src/wrappers/react/BlocksGraphReact.test.tsx
Due: eslint --fix, prettier --write, cspell lint --no-must-find-files

feat(storybook): add relationship scenario stories
  eslint.config.js
  src/components/blocks-graph.stories.ts
Due: eslint --fix, prettier --write, cspell lint --no-must-find-files

fix(lint): resolve process.env access in vite.config.ts
  examples/react/vite.config.ts
Due: eslint --fix, prettier --write, cspell lint --no-must-find-files

fix(lint): remove export specifier in jsx.d.ts
  src/wrappers/react/jsx.d.ts
Due: eslint --fix, prettier --write, cspell lint --no-must-find-files

fix(lint): refactor renderer.ts - remove default case and nullish coalescing
  src/core/renderer.ts
Due: eslint --fix, prettier --write, cspell lint --no-must-find-files

fix(lint): resolve 10 nullish coalescing operator errors
  eslint-output.txt
  eslint.config.js
  examples/react/src/AppWithWrapper.tsx
  src/adaptors/v0.1/adaptor.ts
  src/components/blocks-graph.stories.ts
  src/components/blocks-graph.ts
  src/core/graph-engine.ts
  src/core/horizontal-relationships-algorithms.ts
Due: eslint --fix, prettier --write, cspell lint --no-must-find-files

chore(cspell): add Hebrew words for bilingual stories
  cspell.json
Due: prettier --write, cspell lint --no-must-find-files

fix(lint): resolve 12 class property initialization errors
  examples/angular/src/app/app.component.ts
  src/components/blocks-graph.ts
  src/viewport/interaction-gesture-handler.ts
Due: eslint --fix, prettier --write, cspell lint --no-must-find-files

fix(lint): resolve 23 type assertion errors
  README.md
  eslint-output.txt
  examples/angular/README.md
  examples/angular/src/app/app.component.html
  examples/react/src/App.tsx
  examples/react/src/AppWithWrapper.tsx
  examples/vue/src/App.vue
  src/adaptors/v0.1/get-validation-errors.ts
  src/adaptors/v0.1/validator-setup.ts
  src/components/blocks-graph.ts
  src/components/is-valid-orientation.ts
  src/components/render-graph.ts
  src/wrappers/angular/blocks-graph.component.ts
  src/wrappers/react/BlocksGraphReact.test.tsx
  src/wrappers/react/BlocksGraphReact.tsx
  src/wrappers/vue/BlocksGraphVue.ts
Due: eslint --fix, prettier --write, cspell lint --no-must-find-files

docs: update API documentation for unified blocks prop
  README.md
  examples/angular/src/app/app.component.ts
  src/adaptors/v0.1/validator-setup.ts
  src/components/blocks-graph.ts
  src/components/is-valid-orientation.ts
  src/core/graph-engine.ts
  src/wrappers/react/README.md
Due: eslint --fix, prettier --write, cspell lint --no-must-find-files

fix(lint): restore missing addBlockWithSubBlocks import
  src/core/graph-engine.ts
Due: eslint --fix, prettier --write, cspell lint --no-must-find-files

fix: remove outdated ULTRATHINK-ANALYSIS.md file and update examples for production readiness
  REACT-WRAPPER.md
  ULTRATHINK-ANALYSIS.md
Due: prettier --write, cspell lint --no-must-find-files

fix(lint): resolve default parameter errors in graph-engine.ts
  src/core/graph-engine.ts
Due: eslint --fix, prettier --write, cspell lint --no-must-find-files
