Repository luminastudy/blocks-graph: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, cspell lint --no-must-find-files

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx,mjs}": ["eslint --fix", "prettier --write"],
  "*.{json,md}": ["prettier --write"],
  "*.{ts,tsx,js,jsx,mjs,md,json}": ["cspell lint --no-must-find-files"]
}

fix(lint): resolve default-params in blocks-graph.ts methods
  src/components/blocks-graph.ts
Due: eslint --fix, prettier --write, cspell lint --no-must-find-files

chore(visual-tests): update visual test references and clean up ESLint config
  .loki/reference/chrome_laptop_Components_BlocksGraph_Bilingual_Comparison.png
  .loki/reference/chrome_laptop_Components_BlocksGraph_Complex_Prerequisite_Web.png
  .loki/reference/chrome_laptop_Components_BlocksGraph_Custom_Sizing_And_Spacing.png
  .loki/reference/chrome_laptop_Components_BlocksGraph_Empty_State.png
  .loki/reference/chrome_laptop_Components_BlocksGraph_Parents_Only_Hierarchy.png
  .loki/reference/chrome_laptop_Components_BlocksGraph_Prerequisites_And_Parents.png
  .loki/reference/chrome_laptop_Components_BlocksGraph_Prerequisites_Only_Chain.png
  .loki/reference/chrome_laptop_Components_BlocksGraph_Prerequisites_Toggle.png
  .loki/reference/chrome_laptop_Components_BlocksGraph_Single_Block.png
  eslint.config.js
  src/core/graph-engine.ts
  src/core/renderer.ts
  src/wrappers/react/BlocksGraphReact.tsx
Due: eslint --fix, prettier --write, cspell lint --no-must-find-files

fix(visual-tests): update Custom Sizing And Spacing visual test reference
  .loki/reference/chrome_laptop_Components_BlocksGraph_Custom_Sizing_And_Spacing.png
Due: none

fix(lint): resolve all 88 ESLint errors systematically
  LINT-FIX-SUMMARY.md
  eslint-errors.txt
  eslint-output-after-config.txt
  eslint.config.js
  package.json
  pnpm-lock.yaml
  src/adaptors/v0.1/adaptor.ts
  src/components/blocks-graph.ts
  src/core/horizontal-relationships.ts
  src/core/renderer.ts
  src/types/block-graph.ts
  src/wrappers/react/BlocksGraphReact.test.tsx
  src/wrappers/react/BlocksGraphReact.tsx
Due: eslint --fix, prettier --write, cspell lint --no-must-find-files

fix(lint): remove obsolete ESLint error output files
  LINT-FIX-SUMMARY.md
  eslint-errors.txt
  eslint-output-after-config.txt
  eslint-output.txt
Due: prettier --write, cspell lint --no-must-find-files

refactor: centralize schema version detection in core library
  src/adaptors/v0.1/is-block-schema-v01-shape.ts
  src/components/blocks-graph-auto-detection.test.ts
  src/components/blocks-graph.ts
  src/index.ts
  src/types/is-block.test.ts
  src/types/is-block.ts
  src/wrappers/angular/blocks-graph.component.ts
  src/wrappers/react/BlocksGraphReact.tsx
  src/wrappers/vue/BlocksGraphVue.ts
Due: eslint --fix, prettier --write, cspell lint --no-must-find-files

refactor(validation): replace manual type guards with JSON Schema validation
  package.json
  pnpm-lock.yaml
  src/adaptors/v0.1/validator-setup.ts
  src/types/block-validator-setup.ts
  src/types/block.schema.json
  src/types/is-block.ts
Due: eslint --fix, prettier --write, cspell lint --no-must-find-files

refactor: remove non-functional showParents prop
  .claude/commands/tupe/open-pr.md
  REACT-WRAPPER.md
  README.md
  example.html
  examples/angular/src/app/app.component.html
  examples/angular/src/app/app.component.ts
  examples/html/index.html
  examples/react/README.md
  examples/react/src/App.tsx
  examples/vue/src/App.vue
  src/components/blocks-graph.stories.ts
  src/wrappers/README.md
  src/wrappers/angular/blocks-graph.component.ts
  src/wrappers/react/BlocksGraphReact.test.tsx
  src/wrappers/react/README.md
  src/wrappers/vue/BlocksGraphVue.ts
Due: eslint --fix, prettier --write, cspell lint --no-must-find-files

fix: add missing canvas dependency for tests
  package.json
  pnpm-lock.yaml
Due: prettier --write, cspell lint --no-must-find-files

fix: use @lumina-study scope for block-schema package
  package.json
  pnpm-lock.yaml
  src/adaptors/v0.1/validator-setup.ts
Due: eslint --fix, prettier --write, cspell lint --no-must-find-files

docs: update all references from @tupe12334 to @lumina-study scope
  .kiro/specs/runnable-examples/design.md
  README.md
  src/adaptors/v0.1/adaptor.ts
  src/adaptors/v0.1/validators.ts
Due: eslint --fix, prettier --write, cspell lint --no-must-find-files

refactor: remove redundant isBlockSchemaV01Shape validator
  src/adaptors/v0.1/is-block-schema-v01-shape.ts
  src/components/blocks-graph-auto-detection.test.ts
  src/components/blocks-graph.ts
  src/index.ts
Due: eslint --fix, prettier --write, cspell lint --no-must-find-files

docs(claude): update agent and command documentation
  .claude/commands/tupe/container-pr.md
Due: prettier --write, cspell lint --no-must-find-files

refactor: remove loadFromUrl function from core logic
  src/components/blocks-graph.ts
  src/components/create-empty-state-message.ts
  src/wrappers/angular/blocks-graph.component.ts
  src/wrappers/react/BlocksGraphReact.tsx
  src/wrappers/vue/BlocksGraphVue.ts
Due: eslint --fix, prettier --write, cspell lint --no-must-find-files

feat(navigation): implement hierarchical breadcrumb navigation with unlimited depth
  README.md
  package.json
  src/components/blocks-graph-navigation.test.ts
  src/components/blocks-graph.ts
  src/wrappers/angular/block-selected-event.ts
  src/wrappers/react/BlocksGraphReact.tsx
  src/wrappers/vue/block-selected-event.ts
Due: eslint --fix, prettier --write, cspell lint --no-must-find-files

feat(edges): change default prerequisite edges to straight lines
  src/core/default-renderer-config.ts
Due: eslint --fix, prettier --write, cspell lint --no-must-find-files

docs(claude): add dev-container and e2e-tester agents with enhanced package-setup
  .claude/agents/dev-container.md
  .claude/agents/e2e-tester.md
  .claude/commands/tupe/e2e-testing.md
  .claude/commands/tupe/package-setup.md
  cspell.json
Due: prettier --write, cspell lint --no-must-find-files

feat(tooling): integrate knip for detecting unused code and dependencies
  .github/workflows/ci.yml
  .husky/pre-push
  knip.json
  package.json
  pnpm-lock.yaml
  vitest.config.ts
Due: eslint --fix, prettier --write, cspell lint --no-must-find-files

fix(tooling): add missing knip dependency to package.json
  package.json
Due: prettier --write, cspell lint --no-must-find-files

chore(deps): update devDependencies and fix React wrapper types
  package.json
  pnpm-lock.yaml
  src/wrappers/react/BlocksGraphReact.tsx
Due: eslint --fix, prettier --write, cspell lint --no-must-find-files

chore(deps): drop Node.js 18 support, require Node.js 20+
  .github/workflows/release.yml
Due: none

chore: update package version and dependencies
  REACT-WRAPPER.md
  VISUAL-TESTING.md
  package.json
  pnpm-lock.yaml
Due: prettier --write, cspell lint --no-must-find-files

feat(validation): add duplicate block ID detection
  src/components/blocks-graph-auto-detection.test.ts
  src/components/blocks-graph.ts
  src/errors/duplicate-block-id-error.ts
  src/index.ts
Due: eslint --fix, prettier --write, cspell lint --no-must-find-files

refactor(edge-styles): remove dead parent-line-style configuration
  README.md
  src/components/blocks-graph.stories.ts
  src/components/blocks-graph.ts
  src/core/default-renderer-config.ts
  src/core/renderer-config.ts
  src/core/renderer.ts
  src/wrappers/angular/blocks-graph.component.ts
  src/wrappers/react/BlocksGraphReact.tsx
  src/wrappers/vue/BlocksGraphVue.ts
Due: eslint --fix, prettier --write, cspell lint --no-must-find-files

feat(graph): implement automatic transitive edge reduction
  src/components/blocks-graph.stories.ts
  src/core/graph-engine.ts
  src/core/transitive-reduction.test.ts
  src/core/transitive-reduction.ts
  src/index.ts
Due: eslint --fix, prettier --write, cspell lint --no-must-find-files

chore: bump version to 0.1.4
  package.json
  src/components/blocks-graph.stories.ts
Due: eslint --fix, prettier --write, cspell lint --no-must-find-files

refactor(cspell): reorganize and update custom words list
  cspell.json
Due: prettier --write, cspell lint --no-must-find-files

test(visual): update loki reference images after parent-line-style removal
  .loki/reference/chrome_laptop_Components_BlocksGraph_Combinatorics_Root_Auto_Hide.png
  .loki/reference/chrome_laptop_Components_BlocksGraph_Complex_Prerequisite_Web.png
  .loki/reference/chrome_laptop_Components_BlocksGraph_Custom_Sizing_And_Spacing.png
  .loki/reference/chrome_laptop_Components_BlocksGraph_Edge_Line_Styles.png
  .loki/reference/chrome_laptop_Components_BlocksGraph_Empty_State.png
  .loki/reference/chrome_laptop_Components_BlocksGraph_Prerequisites_Only_Chain.png
Due: none

chore: update reference images for Loki tests
  .loki/reference/chrome_laptop_Components_BlocksGraph_Transitive_Reduction.png
Due: none

fix(visual): add pixelmatch threshold to reduce CI flakiness
  package.json
Due: prettier --write, cspell lint --no-must-find-files

feat(layout): add configurable grid layout with maxNodesPerLevel option
  src/components/blocks-graph.stories.ts
  src/components/blocks-graph.ts
  src/components/parse-layout-config-from-attributes.ts
  src/core/calculate-block-position.ts
  src/core/calculate-level-offsets.ts
  src/core/graph-engine.test.ts
  src/core/graph-engine.ts
  src/core/graph-layout-config.ts
  src/wrappers/angular/blocks-graph.component.ts
  src/wrappers/react/BlocksGraphReact.tsx
  src/wrappers/vue/BlocksGraphVue.ts
Due: eslint --fix, prettier --write, cspell lint --no-must-find-files

fix(layout): correct RTL block ordering in grid layout with maxNodesPerLevel
  src/core/calculate-block-position.ts
  src/core/calculate-level-offsets.ts
  src/core/graph-engine.ts
Due: eslint --fix, prettier --write, cspell lint --no-must-find-files

chore: bump version to 0.1.5
  package.json
Due: prettier --write, cspell lint --no-must-find-files

chore: add Loki reference images for grid layout stories
  .loki/reference/chrome_laptop_Components_BlocksGraph_Grid_Layout_Horizontal.png
  .loki/reference/chrome_laptop_Components_BlocksGraph_Grid_Layout_Multiple_Levels.png
  .loki/reference/chrome_laptop_Components_BlocksGraph_Grid_Layout_Wrapping.png
Due: none

refactor(wrappers): centralize shared config and event types
  src/wrappers/angular/blocks-graph.component.ts
  src/wrappers/angular/index.ts
  src/wrappers/block-selected-event.ts
  src/wrappers/blocks-graph-base-config.ts
  src/wrappers/blocks-rendered-event.ts
  src/wrappers/default-config.ts
  src/wrappers/react/BlocksGraphReact.tsx
  src/wrappers/react/index.ts
  src/wrappers/vue/BlocksGraphVue.ts
  src/wrappers/vue/block-selected-event.ts
  src/wrappers/vue/blocks-rendered-event.ts
  src/wrappers/vue/index.ts
Due: eslint --fix, prettier --write, cspell lint --no-must-find-files

fix(exports): add Vue and Angular wrappers to package exports
  package.json
Due: prettier --write, cspell lint --no-must-find-files

fix(build): update Vue/Angular wrapper type declarations after build
  package.json
  scripts/update-wrapper-types.mjs
Due: eslint --fix, prettier --write, cspell lint --no-must-find-files

fix(build): create wrapper directories before writing type declarations
  scripts/update-wrapper-types.mjs
Due: eslint --fix, prettier --write, cspell lint --no-must-find-files

feat(layout): implement parent-centered positioning for child blocks
  .loki/reference/chrome_laptop_Components_BlocksGraph_Combinatorics_Root_Auto_Hide.png
  .loki/reference/chrome_laptop_Components_BlocksGraph_Complex_Prerequisite_Web.png
  .loki/reference/chrome_laptop_Components_BlocksGraph_Grid_Layout_Multiple_Levels.png
  src/core/calculate-parent-centered-positions.ts
  src/core/graph-engine.test.ts
  src/core/graph-engine.ts
Due: eslint --fix, prettier --write, cspell lint --no-must-find-files

feat(stories): add comprehensive transitive reduction stories
  cspell.json
  src/components/transitive-reduction.stories.ts
Due: eslint --fix, prettier --write, cspell lint --no-must-find-files
